<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>HttpProxy</servlet-name>
		<servlet-class>com.jsos.httpproxy.HttpProxyServlet</servlet-class>
		<init-param>
			<param-name>host</param-name>
			<param-value>http://wsdev.playonsports.com</param-value>
		</init-param>
		<init-param>
			<param-name>rewriteHost</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>HttpProxy</servlet-name>
		<url-pattern>/events/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>HttpProxy</servlet-name>
		<url-pattern>/publishers/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>HttpProxy</servlet-name>
		<url-pattern>/oauth/*</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
